html {
  height: 100%;
}

body {
  background: green;
  font-family: "Arimo", sans-serif;
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 71.875em;
}

.myNavbar {
  background-color:white;
  padding: 0.6rem;
  border-radius: 0.22rem;
}

.navbar_container {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color:white;
}

.navbar_container li {
  list-style-type: none;
  color: #606060;
  font-weight: bold;
}

.myNavbar a {
  color: #606060;
  text-decoration: none;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.3rem;
  color: #606060;
}

/* .content-container {
  width: 71.875rem;
  height: 40rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-radius: 0.22rem;
} */
